.background {
    margin-top: 50;
    display: flex;
    background-image:url(../images/background_check.jpg);
    background-attachment: fixed;
    background-size: 75%;
}
.base-phone {
    display: none;
}

.base-left {
    position: fixed;
    margin: 1% 1% 1% 1%;
    width: 20%;
    height: 100vH;
    background-color: #eef;
    border: #7f7f7f;
}
.base-left .clock{
    padding: 10 0 10 0;
    text-align: center;
    pointer-events: none;
    font-weight: bold;
    height: 75;
}
.base-left .calendar{
    text-align: center;
    border: #7f7f7f;
    height: calc(100% - 100px - 51%);
}

.base-left .news {
    margin-top: 2%;
}
.base-left .news .title {
    text-align: center;
    font-size: 24;
    font-weight: bold;
}

.base-left .news .content {
    background-color: #fff;
    height: calc(100% - 100px - 51%);
    overflow: auto;
    width: 90%;
    margin-left: 5%;
    border: #7f7f7f 1px solid;
}
.base-left .news .row {
    margin: 10 10;
    border-bottom: #7f7f7f 1px solid;
}
.base-left .news .row a {
    text-decoration: none;
}
.base-left .news dt {
    margin-right: 20px;
}

/* メインコンテンツ */
.base-center {
    position: relative;
    margin: 1% 0% 1% 0%;
    left: 22%;
    width: 56%;
    height: 100%;
    background-color: blanchedalmond;
    border: #7f7f7f;
}
.base-center .content {
    margin: 1%;
}

/* Twitterタイムライン */
.base-right { 
    position: fixed;
    margin: 1% 1% 1% 1%;
    right: 0;
    width: 20%;
    height: 100vH;
    background-color: white;
    border: #7f7f7f;
    overflow-x: hidden;
}

/*スマホ対応*/
@media screen and (max-width: 1280px) {
    .background {
        display: block;
        padding: 5% 0 5% 0;
        background-attachment: scroll;
        background-size: 150%;
    } 
    .base-phone {
        display: block;
        margin: auto;
        width: 90%;
        background-color: blanchedalmond;
        border: #7f7f7f;
        padding: 20 0 20 0;
    }
    .base-phone .title {
        text-align: center;
        font-size: 180%;
        margin: -10 0 5 0;
    }
    .base-phone .link {
        width: fit-content;
        margin: -5 auto -5 auto;
    }
    .base-phone .link a {
        color: #000000;
        font-size: 100%;
        white-space: nowrap 
    }
    .base-right {
        display: none;
    }
    .base-center {
        left: 0%;
        margin: 5% 5% 1% 5%;
        width: 90%;
        height: auto;
    }
    .base-left {
        display: none;
    }
}