/* 背景 */
.background {
    background-image:url(../images/background_check.jpg);
    background-attachment: fixed; /* 背景画像固定 */
    background-size: 50%;
}

/* サイトコンテンツ */
.content {
    width: 100%;
    display: flex;
    margin-top: 50;
}

/* リンク集 */
.base-link {
    display: none;
    margin: auto;
    width: 90%;
    background-color: blanchedalmond;
    border: #7f7f7f;
}
.base-link .title {
    padding-top: 10;
    font-weight: bold;
}
.base-link .link {
    padding: 10 10 15 10;
}

.base-left {
    position: fixed;
    margin: 1% 1% 1% 1%;
    width: 20%;
    height: 100vH;
    background-color: #eef;
    border: #7f7f7f;
}
.base-left .clock{
    padding: 10 0 10 0;
    text-align: center;
    pointer-events: none;
    font-weight: bold;
    height: 75;
}
.base-left .calendar{
    text-align: center;
    border: #7f7f7f;
    height: calc(100% - 100px - 51%);
}

.base-left .news {
    margin-top: 1%;
}
.base-left .news .title {
    text-align: center;
    font-size: 24;
    font-weight: bold;
}

.base-left .news .content {
    background-color: #fff;
    height: calc(100% - 100px - 51%);
    overflow: auto;
    width: 90%;
    margin: 0% 5% ;
    border: #7f7f7f 1px solid;
}
.base-left .news .content dl {
    width: 100%;
}
.base-left .news .content .row {
    margin: 10;
    border-bottom: #7f7f7f 1px solid;
}
.base-left .news .content .row a {
    text-decoration: none;
}
.base-left .news .content dt {
    margin-right: 20px;
}

/* メインコンテンツ */
.base-center {
    position: relative;
    margin: 1% 0% 1% 0%;
    left: 22%;
    width: 56%;
    height: 100%;
    background-color: blanchedalmond;
    border: #7f7f7f;
}
.base-center .introduce {
    padding: 50;
}

/* Twitterタイムライン */
.base-right { 
    position: fixed;
    margin: 1% 1% 1% 1%;
    right: 0;
    width: 20%;
    height: 100vH;
    background-color: white;
    border: #7f7f7f;
    overflow-y: auto;
}

/* レスポンシブ */
@media screen and (max-width: 1280px) {
    .background {
        display: block;
        background-size: cover; /*--背景画像のサイズ--*/
        background-attachment: fixed; /*--背景画像の固定--*/
        background-repeat: no-repeat; /*--背景画像の繰り返し--*/
        background-position: center center; /*--背景画像の位置--*/
    } 
    .content {
        display: block;
        padding-top: 25;
    }
    .base-link {
        display: block;
        width: 90%;
    }
    .base-link .title {
        text-align: center;
        font-size: 180%;
    }
    .base-link .link {
        width: fit-content;
        margin: -5 auto -5 auto;
    }
    .base-link .link a {
        /* color: #000000; */
        font-size: 24;
        white-space: nowrap 
    }
    .base-right {
        display: none;
    }
    .base-center {
        margin: 30 0 25 0;
        left: 5%;
        width: 90%;
        height: auto;
    }
    .base-left {
        display: none;
    }
}