/* フッター */
.footer {
    display: flex;
    width: 56%;
    height: 100px;
    background-color: #3f3f3f;
    border-top: 1px solid #7f7f7f;
    border-left: 1px solid #7f7f7f;
    border-right: 1px solid #7f7f7f;
    justify-content: center;
    align-items: center;
    margin: 0 auto 0 auto;
}

.footer .text{
    color: #cfcfcf;
    font-size: 24;
    font-weight: bold;
}

/* レスポンシブ */
@media screen and (max-width: 1280px) {
    .footer {
        width: 100%;
        border-left: none;
        border-right: none;
    }
    .footer .text{
        font-size: 16;
    }
}