/* ヘッダー */
.header {
    position: fixed;
    z-index: 1; /* サイトコンテンツより上に表示 */
    top: 0;
    width: 100%;
    height: 50px;
    display: flex;
    background-color: beige;
    border-bottom: 1px solid #7f7f7f;
}
.header .icon {
    height: 42px;
    width: 42px;
    margin: 0 8 0 16;
    border-radius: 21px; /* アイコンを円に淵取り */
    border: #000 solid 1px;; /*アイコンに枠線 */
}
.header .title {
    display: flex;
    font-size: 32px;
    font-weight: bold;
    margin: 3 0 0 6;
}
.header .link {
    display: flex;
    align-items: center;
    margin: 0 20 0 30;
}
.header a {
    font-weight: bold;
    font-size: 100%;
    margin: 2 16 0 0;
    color: black;
}
.header a:hover {
    transform:scale(1.2,1.2);
    transition:0.2s all;
    text-decoration: none;
}

/* レスポンシブ */
@media screen and (max-width: 1280px) {
    .header .title {
        display: flex;
        position: relative;
        justify-content: center;
        align-items: center;
        margin: auto;
        left: -14;
    }
    .header .title .icon {
        height: 36px;
        width: 36px;
        margin: 0 4 0 20;
    }
    .header .title .text {
        font-size: 30;
        text-align: center;
    }
    .header .link {
        display: none;
    }
}