.header {
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    width: 100%;
    height: 50px;
    display: flex;
    background-color: beige;
    border-bottom: 1px solid #7f7f7f;
}
.header .icon {
    height: 46px;
    width: 46px;
    margin: 0 8 0 16;
}
.header .title {
    display: flex;
    font-size: 200%;
    font-weight: bold;
    margin: 2 0 0 0;
}

.header .link {
    display: flex;
    align-items: center;
    margin: 0 20 0 30;
}
.header a {
    font-weight: bold;
    font-size: 100%;
    margin: 2 16 0 0;
    color: black;
}
.header a:hover {
    transform:scale(1.2,1.2);
    transition:0.1s all;
    text-decoration: none;
}
.header .tab {
    display: none;
}

/*スマホ対応*/
@media screen and (max-width: 1280px) {
    .header .title {
        display: flex;
        position: relative;
        justify-content: center;
        align-items: center;
        margin: auto;
        left: -12;
    }
    .header .title .icon {
        height: 40px;
        width: 40px;
        margin: 0 4 0 20;
    }
    .header .title .text {
        font-size: 30;
        text-align: center;
    }
    .header .link {
        display: none;
    }
}