* {
    margin: 0;
    padding: 0;
}
.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 50px;
    display: flex;
    background-color: lightcyan;
    border-bottom: 1px solid #7f7f7f;
}
.header .title {
    display: flex;
    margin: 2 0 0 20;
}
#icon_smily {
    height: 46px;
    width: 46px;
    margin-left: 6;
}
.header .link {
    display: flex;
    align-items: center;
    margin: 0 20 0 20;
}
.header a {
    font-size: 20;
    margin-right: 8;
}

.background {
    margin-top: 50;
    display: flex;
    background-image:url(../images/background_check.jpg);
    background-size: auto;
}
.base-right {
    margin: 1% 1% 1% 1%;
    width: 18%;
    height: 100vH;
    overflow: auto;
}
.base-right .twitter-timeline {
    background-color: white;
}
.base-center {
    margin: 1% 0% 1% 0%;
    width: 60%;
    height: 100vH;
    overflow: auto;
    background-color: blanchedalmond;
}
.base-left {
    margin: 1% 1% 1% 1%;
    width: 18%;
    height: 100vH;
    overflow: auto;
    background-color: azure;
}

.content {
    z-index: 1;
}
.tytle {
    display: block;
}